* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body1 {
    width: 100%;
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.inp i {
    font-size: 30px;
    cursor: pointer;
}

#search_input {
    height: 100%;
    width: 90%;
    border: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 700;
    outline: none;
    background-color: transparent;
}